/* General Styles */
body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg4.jpg);
    background-size: cover;
}

/* Header Styles */
header 
{
    width: 85%;
    margin: auto;
    color: #ffffff;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 
{
    margin: 0;
    font-size: 2em;
}
nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li 
{
    margin: 0 10px;
}
nav a 
{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}
nav ul li a:hover{
   color: green;
}

/* Banner Styles */
#banner {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#banner img {
    width: 500px;
    height: 500px;
}

/* Main Content Styles */
#main-content {
    display: flex;
    flex-wrap: wrap;   
}

article {   
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width:600px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 70px;
    margin-bottom: 5px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.4s ease-in-out;
}

article h2 { 
margin: 0;
font-size: 1.5em;
}

article h2 a{ 
    color:white;
    text-decoration: none;  
}
article h2 a:hover{
    color:green;
}
article p{
    color:#ccc;
}
/* Sidebar Styles */
#sidebar {    
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 5px;
    border: 2px solid #ccc;
    flex-basis: 20%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
#sidebar h3 {
    font-style: italic;
    text-align: center;
    margin: 0;
    font-size: 1.2em;  
    color: white;
    transition: 0.4s ease-in-out;
}
#sidebar ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;  
}
#sidebar li {
    margin: 5px 0;
}

#sidebar a {  
    text-decoration: none;
    color: white;   
}
#sidebar a:hover {
    color:green;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}
footer p {
     margin: 0;
    font-size: 0.8em;
}